<ul class="collection ">
        <li class="collection-item avatar valign-wrapper header">

          <div class="left-align">
            <h5 class="left-align">Tasks</h5>
          </div>
          <div class="right">
            <a href="#">
                    <span class="new badge blue right-align" title="New Tasks">5</span>
                    </a>
          </div>
          <div class="right">
            <a href="#">
                    <span class="white-text badge red  right-align" title="Urgent!">2</span>
                    </a>
          </div>
        </li>

        <li class="collection-item avatar">
          <i class="circle blue">N</i>
          <span class="title ">New website for Symu.co</span>
          <p class="valign-wrapper urgent"><i class="material-icons">access_alarm</i> 5 days left
          </p>
          <a href="#!" class="secondary-content" title="Expand"><i class="material-icons">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="circle blue">F</i>
          <span class="title ">Free business PSD Template</span>
          <p class="valign-wrapper urgent"><i class="material-icons">access_alarm</i> 2 days left
          </p>
          <a href="#!" class="secondary-content" title="Expand"><i class="material-icons">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="circle blue">N</i>
          <span class="title">New logo for JCD.pl</span>
          <p class="valign-wrapper"><i class="material-icons">access_alarm</i> 5 days left
          </p>
          <a href="#!" class="secondary-content" title="Expand"><i class="material-icons">more_vert</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="circle blue">F</i>
          <span class="title">Free icon set vol 3</span>
          <p class="valign-wrapper"><i class="material-icons">access_alarm</i> 10 days left
          </p>
          <a href="#!" class="secondary-content" title="Expand"><i class="material-icons">more_vert</i></a>
        </li>
      </ul>