<nav >
  <div class="nav-wrapper grey lighten-5">
    <ul class="hide-on-med-and-down">
        <li class="right"><img src="../assets/img/yuna.jpg" alt="" class="circle responsive-img"></li>
        <li class="right"><a href="#!"><i class="material-icons">notifications_none </i></a></li>
        <li class="right"><a href="#!"><i class="material-icons">email</i></a></li>
        <li class="right"><a href="#!" class="waves-effect waves-light btn  blue darken-1">+ Add Project</a></li>
    </ul>
    
    <ul id="nav-mobile" class="">
        <li><a href="#" materialize="sideNav" data-activates="slide-out" class="button"><i class="material-icons">menu</i></a></li>
      <li><a href="#"><i class="material-icons">search</i></a></li>
      
      
    </ul>
    <ul id="slide-out" class="side-nav indigo darken-4">
        <li>
            <div class="row">
            
                <a href=""><img class="logo" src="../assets/img/logo.png"><span class="logo-text ">Merkury</span></a>
                
            
            </div>
    
    </li>
      <!--<li><a><img class="logo small" src=""/>text</a></li>-->
      <li><div class="divider"></div></li>
      <li ><a href="#!"><i class="material-icons">Home</i>Home</a></li>
      <li><a href="#!"><i class="material-icons">view_agenda</i>Workflow</a></li>
      <li><a href="#!"><i class="material-icons">show_chart</i>Statistics</a></li>
      <li><a href="#!"><i class="material-icons">event_note</i>Calendar</a></li>
      <li><a href="#!"><i class="material-icons">person_outline</i>Users</a></li>
      <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>

    </ul>
    

  </div>
</nav>
