 <ul class="collection ">
        <li class="collection-item avatar valign-wrapper header" id="activity-header">

          <div class="left-align">
            <h5 class="left-align">Activity</h5>
          </div>
          <div class="right">
            <a href="#">
                    <span class="new badge blue right-align" title="See All Activity">10</span>
                    </a>
          </div>
        </li>

        <li class="collection-item avatar act">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title ">New website for Symu.co</span>
          <p class="valign-wrapper when"><i class="material-icons tiny"> access_time</i> Just now
          </p>

        </li>
        <li class="collection-item avatar act">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title ">Free business PSD Template</span>
          <p class="valign-wrapper when"><i class="material-icons tiny">access_time</i> 40 minutes ago
          </p>

        </li>
        <li class="collection-item avatar act">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title">New logo for JCD.pl</span>
          <p class="valign-wrapper when"><i class="material-icons tiny">access_time</i> 1 hour ago
          </p>

        </li>
        <li class="collection-item avatar act">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title">Free icon set vol 3</span>
          <p class="valign-wrapper when"><i class="material-icons tiny">access_time</i> 3 hours ago
          </p>

        </li>
      </ul>
