 <ul class="collection ">
        <li class="collection-item avatar valign-wrapper header">

          <div class="left-align">
            <h5 class="left-align">Messages</h5>
          </div>
          <div class="right">
            <a href="#">
                    <span class="new badge blue right-align" title="Read All">2</span>
                    </a>
          </div>

        </li>


        <li class="collection-item avatar unread msg">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title ">Nina James <span class="when">5 min ago</span></span>
          <p class="msg-content">Lorem ipsum dolor sit amet (..)</p>
          <p class="valign-wrapper"><a href="#"><i class="material-icons tiny" title="Reply">reply</i></a><a href="#">
                 <i class="material-icons tiny"  title="Settings">settings</i> </a>
          </p>


        </li>


        <li class="collection-item avatar unread msg">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title ">Nina James <span class="when">About 20 hours ago</span></span>
          <p class="msg-content">Lorem ipsum dolor sit amet (..)</p>
          <p class="valign-wrapper"><a href="#"><i class="material-icons tiny" title="Reply">reply</i></a><a href="#">
                 <i class="material-icons tiny" title="Settings">settings</i> </a>
          </p>


        </li>
        <li class="collection-item avatar msg">
          <img src="../assets/img/yuna.jpg" alt="James Smith" title="James Smith" class="circle">
          <span class="title ">James Smith <span class="when">3 days ago</span></span>
          <p class="msg-content">Lorem ipsum dolor sit amet (..)</p>
          <p class="valign-wrapper"><a href="#"><i class="material-icons tiny" title="Reply">reply</i></a><a href="#">
                 <i class="material-icons tiny"  title="Settings">settings</i> </a>
          </p>



        </li>
        <li class="collection-item avatar msg">
          <img src="../assets/img/yuna.jpg" alt="Nina James" title="Nina James" class="circle">
          <span class="title ">Nina James <span class="when">About 2 weeks ago</span></span>
          <p class="msg-content">Lorem ipsum dolor sit amet (..)</p>
          <p class="valign-wrapper"><a href="#"><i class="material-icons tiny" title="Reply">reply</i></a><a href="#">
                 <i class="material-icons tiny" title="Settings">settings</i> </a>
          </p>


        </li>
      </ul>